@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap");

//color set


//font selection
$my-font: Caveat;
body {
  margin: 0;
  padding: 0;

  h1,
  h2 {
    font-family: $my-font;
  }

  header {


    h1 {

      margin-left: 50px;
      @media screen and (min-width: 1024px) {
        margin-left: 250px;
      }
    }

    h1,
    .hamburger {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .hamburger {
      margin-right: 50px;
      padding-top: 10px;
      @media screen and (min-width: 1024px) {
        margin-right: 250px;
      }
    }

    #menu {
      font-family: Arial;

      margin-right: 25px;
      @media screen and (min-width: 1024px) {
        margin-right: 250px;
        display: flex;
      }

      ul {
        @media screen and (min-width: 1024px) {
          display: grid;
          gap: 15px;
        }

        li {
          list-style: none;
          @media screen and (min-width: 1024px) {
            display: inline;
            grid-row: 1;
          }


          a {
            //border: solid 1px $second-color;
            padding: 10px 20px;

            text-decoration: none;
            border-radius: 15px;

            font-family: Arial;
            font-weight: bold;



          }
        }
      }
    }
  }


      .home-intro {
        ul {
          list-style: none;

        }
      }
    }


  .card {
    box-shadow: 2px 2px 0px lightblue;

    .card-header {

      font-family: $my-font;
      font-weight: bold;
      font-size: 1.5rem;

    }


      .card-title {
        font-family: $my-font;

        font-size: 1.5rem;
        font-weight: bold;
      }

      .card-text {
        font-family: Arial;
        font-size: 0.8rem;
      }


    }


  .show-articles {
    margin: auto;

    .com {

      border-radius: 10px;
      background-color: lightgrey;
    }
  }

  .search {
    display: none;

    footer {
      border: 0;
      box-shadow: 0 0;
    }

    h2 {

      padding: 0 1.5rem;
    }

    .wp-block-search__inside-wrapper {
      padding: 0 1.5rem;
      margin-bottom: 1rem;
    }

    ul {
      padding: 0 1.5rem;
      list-style: none;

      li {
        padding-left: 1.5rem;
      }
    }

    @media screen and (min-width: 1024px) {
      display: block;

      .widget {
        list-style: none;
      }
    }
  }

  .contact {
    .btn{

      border-radius: 10px;

      margin-left: 70px;
    }
  }

  .logo-footer {
    margin-bottom: 40px;
  }

  footer{


    box-shadow: 0 -2px lightblue;

  }
  #footer{
    ul {
      text-decoration: none;

      li {
        text-decoration: none;
        list-style: none;

        border: 1px solid;
        border-radius: 20px;
        width: auto;

        a {
          font-size: 1rem;
          text-decoration: none;

        }
        .btn-footer{
          width: auto;
        }
        .btn-footer:hover {
          text-decoration: none;
        }

        a:hover {
          text-decoration: none;

        }
      }
    }
  }

  footer h6 {
    font-family: "arial", serif;
    margin-bottom: 40px;
    position: relative;
  }

  .logo-part {

    height: 100%;
    //margin-left: 25px;
    @media screen and(min-width: 1024px) {
      //margin-left: 250px;
    }

    img {
      width: 15%;
    }

    .society-link {
      //margin-right: 25px;
      @media screen and (min-width: 1024px) {
        //margin-right: 250px;

      }
    }
  }

